.mpt-password{
    position: relative;
}
.mpt-password-button{
    appearance: none;
    border: 0;
    background: transparent;
    padding: 4px;
}

.mpt-password-icon{
    display: block;
}

.mpt-password-icon--hide{
    display: none;
}

.mpt-password-button[aria-pressed="true"] .mpt-password-icon--show{
    display: none;
}

.mpt-password-button[aria-pressed="true"] .mpt-password-icon--hide{
    display: block;
}
